<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
</head>
<body>
  <header>
    <h1>About Us</h1>
    <nav>
    </nav>
  </header>
  
  <main>
    <h2>Welcome to Our About Page</h2>
    <p>We are happy that you are trying our New My DNS Application. You ask, and we give ! </p>
  </main>

  <footer>
    <p>&copy; 2023 My DNS App. All rights reserved.</p>
  </footer>
</body>
</html>
