<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
</head>
<body>
  <header>
    <h1>Contact Us</h1>
    <nav>
    </nav>
  </header>
  
  <main>
    <h2>Get in Touch</h2>
    <p>If you have any questions or inquiries, please feel free to contact us:</p>
    <ul>
      <li>Email: https://research.fit.edu/fitsec/ </li>
      <li>Phone: +1 (123) 456-7890</li>
    </ul>
  </main>

  <footer>
    <p>&copy; 2023 My DNS Application. All rights reserved.</p>
  </footer>
</body>
</html>
