<!DOCTYPE html>
<html>
<head>
  <title>My DNS App</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <header>
    <h1>My DNS App</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>  
    </nav>
  </header>

<div style="text-align: center;">
  <h2>Welcome to my DNS App.</h2> 
  <h3>Try our new DNS to IP convertor. You ask, and we give. Happy Conversion!</h3>
  <h3>Try querying fit.edu, by using /dns?ip=fit.edu</h3>
</div>


  <main>
    {{{body}}}
    </main>

  <script src="/script.js"></script>
</body>
</html>
